$helpersDefaultDuration:300ms;
$helpersDefaultEase:linear;

/*
*
*
* properties
*/

@mixin size($type: border-box)
{
	-webkit-box-sizing:$type;
	box-sizing:$type;
}

@mixin noHighlight()
{
	outline: none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

@mixin hd3D()
{
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style:flat;
	
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
}

/*
*
*
* transition/animations
*/

@mixin transition($property, $duration: $helpersDefaultDuration)
{
	-webkit-transition:$property $duration $helpersDefaultEase;
	transition:$property $duration $helpersDefaultEase;

	@include hd3D();
}

@mixin double-transition($property1, $property2, $duration1: $helpersDefaultDuration, $duration2: $helpersDefaultDuration)
{
	-webkit-transition:$property1 $duration1 $helpersDefaultEase, $property2 $duration2 $helpersDefaultEase;
	transition:$property1 $duration1 $helpersDefaultEase, $property2 $duration2 $helpersDefaultEase;

	@include hd3D();
}

@mixin move($x: 0, $y: 0, $z: 0, $duration: $helpersDefaultDuration)
{
	-webkit-transform:translate3d($x, 0, 0);
	transform:translate3d($x, 0, 0);
	-webkit-transform-style:flat;
	transform-style:flat;
	
	-webkit-transition:-webkit-transform $helpersDefaultDuration $helpersDefaultEase;
	transition:transform $helpersDefaultDuration $helpersDefaultEase;
	
	-webkit-perspective:1000;
	-webkit-backface-visibility:hidden;
}

@mixin animate($animation, $duration: $helpersDefaultDuration)
{
	-webkit-animation:$animation $duration linear forwards;
	animation:$animation $duration linear forwards;
}

@mixin infinite($animation, $duration: $helpersDefaultDuration)
{
	-webkit-animation:$animation $duration linear infinite;
	animation:$animation $duration linear infinite;
}


