
$color:#333;
$colorAlt:#bbb;
$colorFeature:#00B4A5;
$borderColor:#eee;
$codeColor:#fafafa;

$width:750px;
$unit:25px;

@import 'helpers';

/*
*
*
* CSS
*/

::selection {
	background:#FEF6A7;
  	color:$color !important;
}

::-moz-selection {
	background:#FEF6A7;
  	color:$color !important;
}

html
{
	overflow-x:hidden;
}

body 
{
	background:#fff;
  	font-family:'Lora', Georgia, 'Times', serif;
  	font-size:16px;
	font-weight:400;
  	line-height:1.7em;
  	color:$color;
	overflow-x:hidden;

    -webkit-font-smoothing:antialiased;
}

h1, h2, h3, h4, h5, h6, .title
{
	margin:$unit * 2 0 0 0;
	padding:0px;
	font-weight:normal;
	line-height:1em;
	color:$color;
}

h1, h2, h3, h4
{
	font-family:'Reenie Beanie', Arial, sans-serif;
	letter-spacing:-0.04em;
}

h5, h6
{
	font-weight:bold;
	line-height:1.5em;
}

h1
{
	font-size:80px;
}

h2
{
	font-size:65px;
}

h3
{
	font-size:55px;
}

h4
{
	font-size:45px;
}

h5
{
	font-size:30px;
}

h6
{
	font-size:25px;
}

a
{
	text-decoration:none;
	color:$colorFeature;
	
	@include noHighlight();
	@include transition(color);

	&:hover,
	&.current
	{
		color:$colorAlt;
	}
}

b, strong
{
	font-weight:700;
}

p
{
	margin:0 0 $unit 0;
	padding:0px;
}

ul, ol, blockquote
{
	padding:0 0 0 $unit;

	@extend p;
}

pre
{
	margin:0 0 $unit 0;
	padding:$unit;
	background:$codeColor;
}

code
{
	margin:0px !important;
	padding:0px !important;
	background:none !important;
	font-size:14px;
	line-height:1.4em;
}

.clearfix
{
	clear:both;
}

.separator
{
	display:inline-block;
	padding:0 8px 0 5px;
	letter-spacing:-2px;
}

.inner
{
	position:relative;
	max-width:$width;
	margin:auto;
	padding-left:$unit;
	padding-right:$unit;
}

#page
{	
	@include move();
}

header
{
	
	z-index:100;
	text-align:right;

	@extend .inner;

	h1
	{
		position:absolute;
		top:15px;
		right:$unit;
		margin:0px;
		padding:0px;
		font-size:40px;
	}
}

nav
{	
	position:relative;
	z-index:150;

	@extend .inner;
	
	ul
	{
		display:inline-block;
		position:absolute;
		top:$unit;
		left:$unit;
		margin:0px;
		padding:0px;
		text-align:left;
		
		li
		{
			display:inline-block;
			margin:0px;
			padding:0px;
			
			.navigation
			{
				position:relative;
				display:inline-block;
				margin:0 $unit 0 0;
				padding:0px;
				text-decoration:none;
			}
		}
	}
}

#menu
{
	display:none;
	position:absolute;
	top:$unit;
	left:$unit;
	padding:1px;
	font-family:'Reenie Beanie', Arial, sans-serif;
	font-size:40px;
	z-index:200;
}

#main
{
	position:relative;
	z-index:50;
	
	.contents
	{
		padding-top:($unit * 6);
		padding-bottom:($unit);
	
		*:first-child
		{
			margin-top:0px;
		}
	
		*:last-child
		{
			margin-bottom:0px;
		}
	}
}


footer
{	
	.contents
	{
		padding:0 0 $unit + 10 0;
		font-style:italic;
		text-align:right;
		color:$colorAlt;
	}
}

@media only screen and (max-width: ($width + $unit * 2)) 
{
	body
	{	
		&.open-nav
		{
			#page
			{
				@include move(250px);
			}

			#menu
			{
				color:$colorAlt;
			}
		}
	}

	h1
	{
		font-size:60px;
	}

	h2
	{
		font-size:50px;
	}

	h3
	{
		font-size:40px;
	}

	h4
	{
		font-size:35px;
	}

	h5
	{
		font-size:25px;
	}

	h6
	{
		font-size:20px;
	}

	.separator
	{
		display:block;
		padding:0px;
		line-height:0px;
		opacity:0;
	}
	
	#menu
	{
		display:inline-block;
	}
	
	nav
	{
		position:fixed;
		top:0px;
		left:-250px;
		width:250px;
		height:100%;
		padding:0px;
		z-index:100;
		
		@include move();
		
		ul
		{
			li
			{
				display:block;
				margin:0px;
				padding:0px;
			
				.navigation
				{
					display:block;
					margin:0 0 0 0;
					padding:15px;
				}
			}
		}
	}

	#main
	{
		.contents
		{
			padding-top:($unit * 4);
		}
	}
}