
$color:#000;
$colorAlt:#00B1A8;
$borderColor:#eee;
$codeColor:#fafafa;

$width:750px;
$unit:25px;

@import 'helpers';
@import 'animations';

/*
*
*
* CSS
*/

::selection {
	background:#FEF6A7;
  	color:$color !important;
}

::-moz-selection {
	background:#FEF6A7;
  	color:$color !important;
}

html
{
	overflow-x:hidden;
}

body 
{
	background:#fff;
  	font-family:'Source Sans Pro', Arial, sans-serif;
  	font-size:19px;
	font-weight:300;
  	line-height:1.5em;
  	color:$color;
	overflow-x:hidden;
    -webkit-font-smoothing:subpixel-antialiased;
    
	
	$colors-list: $colorAlt #1DADEC #E16BF2 #F52C4B #F27621;
	@each $color in $colors-list
	{
		$i: index($colors-list, $color);
	
		&[color="#{$i}"] a
		{
			color:#{$color};
		}
		
		&[color="#{$i}"] #menu:before,
		&[color="#{$i}"] #menu:after,
		&[color="#{$i}"] .navigation:hover,
		&[color="#{$i}"] .navigation.current
		{
			border-color:#{$color};
		}
	}
	
	&.color a
	{
		@include transition(color);
	}
	
	&.color .navigation
	{
		@include double-transition(color, border-color);
	}
}

h1, h2, h3, h4, h5, h6, .title
{
	margin:$unit 0 0.1em 0;
	padding:0px;
	font-family:'Lobster', 'Times new roman', serif;
	font-weight:normal;
	line-height:1.1em;
	color:$color;
}

h1
{
	font-size:40px;
}

h2
{
	font-size:35px;
}

h3
{
	font-size:30px;
}

h4
{
	font-size:25px;
}

h5
{
	font-size:20px;
}

h6
{
	font-size:18px;
}

a
{
	text-decoration:none;
	color:$colorAlt;
	
	@include noHighlight();
}

b, strong
{
	font-weight:600;
}

p
{
	margin:0 0 $unit 0;
	padding:0px;
}

pre
{
	margin:0 0 $unit 0;
	padding:$unit;
	background:$codeColor;
}

code
{
	margin:0px !important;
	padding:0px !important;
	background:none !important;
	font-size:14px;
	line-height:1.4em;
}

ul, ol, blockquote
{
	margin:$unit 0;
}

.clearfix
{
	clear:both;
}

.separator
{
	display:inline-block;
	padding:0 5px;
	letter-spacing:-2px;
}

.inner
{
	max-width:$width;
	margin:auto;
	padding-left:$unit;
	padding-right:$unit;
}

#container
{	
	@include move();
}

header
{
	border-bottom:1px solid $borderColor;
	
	.title
	{
		float:right;
		margin:37px 0 3px 0;
		font-size:50px;
	}
}

#menu
{
	display:none;
	position:absolute;
	top:61px;
	left:$unit;
	width:30px;
	height:19px;
	
	&:before
	{
		content:'';
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:8px;
		border-top:1px solid $colorAlt;
		border-bottom:1px solid $colorAlt;
		
		@include transition(all);
	}
	
	&:after
	{
		content:'';
		position:absolute;
		bottom:0px;
		left:0px;
		width:100%;
		border-bottom:1px solid $colorAlt;
		
		@include transition(all);
	}
}

nav
{	
	position:relative;
	z-index:150;
	
	@extend .inner;
	
	ul
	{
		float:left;
		margin:0px;
		padding:0px;
		text-align:center;
		
		li
		{
			display:inline-block;
			margin:60px $unit 0 0px;
			padding:0px;
			
			.navigation
			{
				display:inline-block;
				margin:0 0 -1px 0;
				padding:5px 0 5px 0;
				border-bottom:1px solid $borderColor;
				text-decoration:none;
			}
		}
	}
}

#main
{
	position:relative;
	z-index:50;
	
	.contents
	{
		padding-top:($unit * 2);
		padding-bottom:($unit * 2);
	
		*:first-child
		{
			margin-top:0px;
		}
	
		*:last-child
		{
			margin-bottom:0px;
		}
	}
}


footer
{	
	.contents
	{
		padding:5px 0 70px 0;
		border-top:1px solid $borderColor;
		text-align:right;
		color:#ccc;
	}
}

@media only screen and (max-width: ($width + $unit * 2)) 
{
	body
	{	
		&.color
		{
			.navigation
			{
				@include double-transition(color, background-color);
			}
		}
	
		&.open-nav
		{
			#menu
			{
				&:before
				{
					-webkit-transform:rotate(45deg) translate3d(4px, 10px, 0);
					-moz-transform:rotate(45deg) translate3d(4px, 10px, 0);
					transform:rotate(45deg) translate3d(4px, 10px, 0);
					border-bottom-color:#fff !important;
				}
		
				&:after
				{
					-webkit-transform:rotate(-45deg) translate3d(4px, -6px, 0);
					-moz-transform:rotate(-45deg) translate3d(4px, -6px, 0);
					transform:rotate(-45deg) translate3d(4px, -6px, 0);
				}
			}
		
			nav,
			#container
			{
				@include move(250px);
			}
		}
	}
	
	.separator
	{
		display:block;
		padding:0px;
		line-height:0px;
		opacity:0;
	}
	
	#menu
	{
		display:block;
	}
	
	nav
	{
		position:fixed;
		top:0px;
		left:-251px;
		width:250px;
		height:100%;
		padding:0px;
		border-right:1px solid $borderColor;
		z-index:100;
		
		@include move();
		
		ul
		{
			float:none;
			text-align:left;
		
			li
			{
				display:block;
				margin:0px;
				padding:0px;
				border-bottom:1px solid $borderColor;
			
				.navigation
				{
					display:block;
					margin:0 0 0 0;
					padding:15px;
					border-bottom:none;
					font-weight:400;
					text-decoration:none;
					
					&:hover,
					&.current
					{
						background-color:$codeColor;
					}
				}
			}
		}
	}
}