/*
*
*
* properties
*/
/*
*
*
* transition/animations
*/
/*
*
*
* CSS
*/
::selection {
  background: #FEF6A7;
  color: #333333 !important; }

::-moz-selection {
  background: #FEF6A7;
  color: #333333 !important; }

html {
  overflow-x: hidden; }

body {
  background: #fff;
  font-family: 'Lora', Georgia, 'Times', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7em;
  color: #333333;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6, .title {
  margin: 50px 0 0 0;
  padding: 0px;
  font-weight: normal;
  line-height: 1em;
  color: #333333; }

h1, h2, h3, h4 {
  font-family: 'Reenie Beanie', Arial, sans-serif;
  letter-spacing: -0.04em; }

h5, h6 {
  font-weight: bold;
  line-height: 1.5em; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 65px; }

h3 {
  font-size: 55px; }

h4 {
  font-size: 45px; }

h5 {
  font-size: 30px; }

h6 {
  font-size: 25px; }

a {
  text-decoration: none;
  color: #00b4a5;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  transform-style: flat;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transition: color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out; }
  a:hover, a.current {
    color: #bbbbbb; }

b, strong {
  font-weight: 700; }

p, ul, ol, blockquote {
  margin: 0 0 25px 0;
  padding: 0px; }

ul, ol, blockquote {
  padding: 0 0 0 25px; }

pre {
  margin: 0 0 25px 0;
  padding: 25px;
  background: #fafafa; }

code {
  margin: 0px !important;
  padding: 0px !important;
  background: none !important;
  font-size: 14px;
  line-height: 1.4em; }

.clearfix {
  clear: both; }

.separator {
  display: inline-block;
  padding: 0 8px 0 5px;
  letter-spacing: -2px; }

.inner, header, nav {
  position: relative;
  max-width: 750px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }

#page {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  transform-style: flat;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  -moz-transition: -moz-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden; }

header {
  z-index: 100;
  text-align: right; }
  header h1 {
    position: absolute;
    top: 15px;
    right: 25px;
    margin: 0px;
    padding: 0px;
    font-size: 40px; }

nav {
  position: relative;
  z-index: 150; }
  nav ul {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 25px;
    margin: 0px;
    padding: 0px;
    text-align: left; }
    nav ul li {
      display: inline-block;
      margin: 0px;
      padding: 0px; }
      nav ul li .navigation {
        position: relative;
        display: inline-block;
        margin: 0 25px 0 0;
        padding: 0px;
        text-decoration: none; }

#menu {
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 1px;
  font-family: 'Reenie Beanie', Arial, sans-serif;
  font-size: 40px;
  z-index: 200; }

#main {
  position: relative;
  z-index: 50; }
  #main .contents {
    padding-top: 150px;
    padding-bottom: 25px; }
    #main .contents *:first-child {
      margin-top: 0px; }
    #main .contents *:last-child {
      margin-bottom: 0px; }

footer .contents {
  padding: 0 0 35px 0;
  font-style: italic;
  text-align: right;
  color: #bbbbbb; }

@media only screen and (max-width: 800px) {
  body.open-nav #page {
    -webkit-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    transform-style: flat;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    -moz-transition: -moz-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden; }
  body.open-nav #menu {
    color: #bbbbbb; }

  h1 {
    font-size: 60px; }

  h2 {
    font-size: 50px; }

  h3 {
    font-size: 40px; }

  h4 {
    font-size: 35px; }

  h5 {
    font-size: 25px; }

  h6 {
    font-size: 20px; }

  .separator {
    display: block;
    padding: 0px;
    line-height: 0px;
    opacity: 0; }

  #menu {
    display: inline-block; }

  nav {
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    padding: 0px;
    z-index: 100;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    transform-style: flat;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    -moz-transition: -moz-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden; }
    nav ul li {
      display: block;
      margin: 0px;
      padding: 0px; }
      nav ul li .navigation {
        display: block;
        margin: 0 0 0 0;
        padding: 15px; }

  #main .contents {
    padding-top: 100px; } }
