/*
*
*
* properties
*/
/*
*
*
* transition/animations
*/
/*
*
*
* Animation
*/
@keyframes color {
  0% {
    color: #31cc97;
    border-color: #31cc97; }

  20% {
    color: #1dadec;
    border-color: #1dadec; }

  40% {
    color: #e16bf2;
    border-color: #e16bf2; }

  60% {
    color: #f52c4b;
    border-color: #f52c4b; }

  80% {
    color: #f4c936;
    border-color: #f4c936; }

  100% {
    color: #31cc97;
    border-color: #31cc97; } }
@-webkit-keyframes color {
  0% {
    color: #31cc97;
    border-color: #31cc97; }

  20% {
    color: #1dadec;
    border-color: #1dadec; }

  40% {
    color: #e16bf2;
    border-color: #e16bf2; }

  60% {
    color: #f52c4b;
    border-color: #f52c4b; }

  80% {
    color: #f4c936;
    border-color: #f4c936; }

  100% {
    color: #31cc97;
    border-color: #31cc97; } }
/*
*
*
* CSS
*/
::selection {
  color: #555555;
  background: yellow; }

::-moz-selection {
  color: #555555;
  background: yellow; }

body {
  font-family: 'Source Sans Pro', 'Times new roman', serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: #555555; }

h1, h2, h3, h4, h5, h6 {
  margin: 25px 0 5px 0;
  padding: 0px;
  font-family: 'Lobster', 'Times new roman', serif; }

h1 {
  margin-bottom: 7px;
  font-size: 33px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

h4 {
  margin-bottom: 0px;
  font-size: 20px; }

h5 {
  margin-bottom: 0px;
  font-size: 17px; }

h6 {
  margin-bottom: 0px;
  font-size: 15px; }

a {
  text-decoration: none;
  color: #555555;
  -webkit-animation: color 20s linear infinite;
  animation: color 20s linear infinite; }

b, strong {
  font-weight: 600; }

p {
  margin: 0 0 25px 0;
  padding: 0px; }

ul, ol, blockquote {
  margin: 25px 0; }

.clearfix {
  clear: both; }

.inner {
  max-width: 800px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px; }

header {
  border-bottom: 1px solid #eeeeee; }
  header .title {
    float: right;
    margin: 40px 0 0 0;
    font-family: 'Lobster', 'Times new roman', serif;
    font-size: 40px;
    color: #00b4a5;
    -webkit-animation: color 20s linear infinite;
    animation: color 20s linear infinite; }

nav ul {
  float: left;
  margin: 0px;
  padding: 0px;
  text-align: center; }
  nav ul li {
    display: inline-block;
    margin: 45px 25px 0 0px;
    padding: 0px; }
    nav ul li a {
      display: inline-block;
      margin: 0 0 -1px 0;
      padding: 5px 0 5px 0;
      border-bottom: 0px solid #eeeeee;
      text-decoration: none;
      color: #555555;
      -webkit-transition: border-color 300ms ease-in-out;
      transition: border-color 300ms ease-in-out;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: flat;
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000; }
      nav ul li a:hover, nav ul li a.current {
        border-bottom-width: 1px; }

.main .content {
  padding: 50px inherit;
  text-align: justify; }
  .main .content *:first-child {
    margin-top: 0px;
    padding-top: 0px; }
  .main .content *:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px; }
  .main .content a {
    font-weight: 400;
    color: #00b4a5;
    -webkit-animation: color 20s linear infinite;
    animation: color 20s linear infinite; }

footer .content {
  padding: 0 0 50px 0;
  border-top: 1px solid #eeeeee;
  text-align: right; }
  footer .content a {
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 5px 0;
    border-top: 1px solid #555555;
    font-weight: 600; }
